In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv')
df.head()

     年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
0  2018  896915.6  900309.5  64734.0  366000.9  469574.6     64644
1  2017  820099.5  820754.3  62099.5  332742.7  425912.1     59201
2  2016  737074.0  740060.8  60139.2  296547.7  383373.9     53680
3  2015  683390.5  685992.9  57774.6  282040.3  346178.0     50028
4  2014  642097.6  641280.6  55626.3  277571.8  308082.5     47005

In [4]:
from io import StringIO

In [5]:
# 数据字符串
data=('col1,col2,col3\n''a,b,1\n''c,d,3')
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    c    d     3

In [6]:
pd.read_csv(StringIO(data),dtype=object)

  col1 col2 col3
0    a    b    1
1    c    d    3

In [7]:
# 3.2.4 表头 header
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',header=0)
df.head()

     年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
0  2018  896915.6  900309.5  64734.0  366000.9  469574.6     64644
1  2017  820099.5  820754.3  62099.5  332742.7  425912.1     59201
2  2016  737074.0  740060.8  60139.2  296547.7  383373.9     53680
3  2015  683390.5  685992.9  57774.6  282040.3  346178.0     50028
4  2014  642097.6  641280.6  55626.3  277571.8  308082.5     47005

In [8]:
# 无表头
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',header=None)
df.head()

      0         1         2        3         4         5         6
0    年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
1  2018  896915.6  900309.5    64734  366000.9  469574.6     64644
2  2017  820099.5  820754.3  62099.5  332742.7  425912.1     59201
3  2016    737074  740060.8  60139.2  296547.7  383373.9     53680
4  2015  683390.5  685992.9  57774.6  282040.3    346178     50028

In [9]:
# 多表头
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',header=[0,1,3])
df.head()

     年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值 人均国内生产总值
   2018  896915.6  900309.5    64734  366000.9  469574.6    64644
   2016    737074  740060.8  60139.2  296547.7  383373.9    53680
0  2015  683390.5  685992.9  57774.6  282040.3  346178.0    50028
1  2014  642097.6  641280.6  55626.3  277571.8  308082.5    47005
2  2013  588141.2  592963.2  53028.1  261956.1  277979.1    43684
3  2012  537329.0  538580.0  49084.5  244643.3  244852.2    39874
4  2011  483392.8  487940.2  44781.4  227038.8  216120.0    36302

In [10]:
# 3.2.5 列名 names
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',names=['测试一下'])
df.head()

                                                      测试一下
年份   国民总收入    国内生产总值   第一产业增加值 第二产业增加值  第三产业增加值   人均国内生产总值
2018 896915.6 900309.5 64734   366000.9 469574.6     64644
2017 820099.5 820754.3 62099.5 332742.7 425912.1     59201
2016 737074   740060.8 60139.2 296547.7 383373.9     53680
2015 683390.5 685992.9 57774.6 282040.3 346178       50028

In [13]:
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',names=['年份','国内生产总值'],header=None)
df.head()

                                               年份    国内生产总值
年份   国民总收入    国内生产总值   第一产业增加值 第二产业增加值    第三产业增加值  人均国内生产总值
2018 896915.6 900309.5 64734   366000.9  469574.6     64644
2017 820099.5 820754.3 62099.5 332742.7  425912.1     59201
2016 737074   740060.8 60139.2 296547.7  383373.9     53680
2015 683390.5 685992.9 57774.6 282040.3    346178     50028

In [14]:
# 默认索引
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',index_col=False)
df.head()

     年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
0  2018  896915.6  900309.5  64734.0  366000.9  469574.6     64644
1  2017  820099.5  820754.3  62099.5  332742.7  425912.1     59201
2  2016  737074.0  740060.8  60139.2  296547.7  383373.9     53680
3  2015  683390.5  685992.9  57774.6  282040.3  346178.0     50028
4  2014  642097.6  641280.6  55626.3  277571.8  308082.5     47005

In [15]:
# 3.2.6 设置索引 index_col
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',index_col=6)
df.head()

            年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值
人均国内生产总值
64644     2018  896915.6  900309.5  64734.0  366000.9  469574.6
59201     2017  820099.5  820754.3  62099.5  332742.7  425912.1
53680     2016  737074.0  740060.8  60139.2  296547.7  383373.9
50028     2015  683390.5  685992.9  57774.6  282040.3  346178.0
47005     2014  642097.6  641280.6  55626.3  277571.8  308082.5

In [31]:

df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',index_col='年份')
df.head()

         国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
年份
2018  896915.6  900309.5  64734.0  366000.9  469574.6     64644
2017  820099.5  820754.3  62099.5  332742.7  425912.1     59201
2016  737074.0  740060.8  60139.2  296547.7  383373.9     53680
2015  683390.5  685992.9  57774.6  282040.3  346178.0     50028
2014  642097.6  641280.6  55626.3  277571.8  308082.5     47005

In [32]:
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',index_col=[1,3])
df.head()

                    年份    国内生产总值   第二产业增加值   第三产业增加值  人均国内生产总值
国民总收入    第一产业增加值
896915.6 64734.0  2018  900309.5  366000.9  469574.6     64644
820099.5 62099.5  2017  820754.3  332742.7  425912.1     59201
737074.0 60139.2  2016  740060.8  296547.7  383373.9     53680
683390.5 57774.6  2015  685992.9  282040.3  346178.0     50028
642097.6 55626.3  2014  641280.6  277571.8  308082.5     47005

In [33]:
# 3.2.7 使用部分列 usecols
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',usecols=[0,4,3])
df.head()

     年份  第一产业增加值   第二产业增加值
0  2018  64734.0  366000.9
1  2017  62099.5  332742.7
2  2016  60139.2  296547.7
3  2015  57774.6  282040.3
4  2014  55626.3  277571.8

In [34]:
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',usecols=[0,4,3],index_col=1)
df.head()

           年份   第二产业增加值
第一产业增加值
64734.0  2018  366000.9
62099.5  2017  332742.7
60139.2  2016  296547.7
57774.6  2015  282040.3
55626.3  2014  277571.8

In [35]:
# 指定列的顺序
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv',usecols=[0,4,3])[['第二产业增加值','年份']]
df.head()

    第二产业增加值    年份
0  366000.9  2018
1  332742.7  2017
2  296547.7  2016
3  282040.3  2015
4  277571.8  2014

In [36]:
# 3.2.11 数据类型 dtype
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv', dtype=np.float64)
df.head()

       年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
0  2018.0  896915.6  900309.5  64734.0  366000.9  469574.6   64644.0
1  2017.0  820099.5  820754.3  62099.5  332742.7  425912.1   59201.0
2  2016.0  737074.0  740060.8  60139.2  296547.7  383373.9   53680.0
3  2015.0  683390.5  685992.9  57774.6  282040.3  346178.0   50028.0
4  2014.0  642097.6  641280.6  55626.3  277571.8  308082.5   47005.0

In [37]:
df = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv', dtype={'年份':np.float64})
df.head()

       年份     国民总收入    国内生产总值  第一产业增加值   第二产业增加值   第三产业增加值  人均国内生产总值
0  2018.0  896915.6  900309.5  64734.0  366000.9  469574.6     64644
1  2017.0  820099.5  820754.3  62099.5  332742.7  425912.1     59201
2  2016.0  737074.0  740060.8  60139.2  296547.7  383373.9     53680
3  2015.0  683390.5  685992.9  57774.6  282040.3  346178.0     50028
4  2014.0  642097.6  641280.6  55626.3  277571.8  308082.5     47005

In [38]:
# 3.2.13 列数据处理 converters
data = 'x,y\na,1\nb,2'
def foo(p):
    return p + 's'
pd.read_csv(StringIO(data),converters={'x':foo,'y':lambda x:x*3})

    x    y
0  as  111
1  bs  222

In [39]:
pd.read_csv(StringIO(data),converters={0:foo,1:lambda x:x*3})

    x    y
0  as  111
1  bs  222

In [40]:
# 3.2.14 真假值转换 true_values false_values
data= ('a,b,c\n1,Yes,2\n3,No,4')
pd.read_csv(StringIO(data),true_values=['Yes'], false_values=['No'])

   a      b  c
0  1   True  2
1  3  False  4

In [41]:
df = pd.read_csv('GDP-China.csv')
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018.0,896915.6,900309.5,64734.0,366000.9,469574.6,64644.0,20201230
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12/30
2,2016.0,737074.0,740060.8,60139.2,296547.7,383373.9,53680.0,20201230 10:12:13
3,2015.0,683390.5,685992.9,57774.6,282040.3,346178.0,50028.0,12/30/20 10:12:13
4,2014.0,642097.6,641280.6,55626.3,277571.8,308082.5,47005.0,2020/12/30 11:22

In [42]:
# 3.2.15 跳过空行 没有看到效果 skip_blank_lines
df = pd.read_csv('GDP-China.csv', skip_blank_lines=True)
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018.0,896915.6,900309.5,64734.0,366000.9,469574.6,64644.0,20201230
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12/30
2,2016.0,737074.0,740060.8,60139.2,296547.7,383373.9,53680.0,20201230 10:12:13
3,2015.0,683390.5,685992.9,57774.6,282040.3,346178.0,50028.0,12/30/20 10:12:13
4,2014.0,642097.6,641280.6,55626.3,277571.8,308082.5,47005.0,2020/12/30 11:22

In [43]:
# 3.2.16 读取指定的行 nrows
df = pd.read_csv('GDP-China.csv', nrows=4)
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018.0,896915.6,900309.5,64734.0,366000.9,469574.6,64644.0,20201230
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12/30
2,2016.0,737074.0,740060.8,60139.2,296547.7,383373.9,53680.0,20201230 10:12:13
3,2015.0,683390.5,685992.9,57774.6,282040.3,346178.0,50028.0,12/30/20 10:12:13

In [44]:
# 3.2.17 空值替换 na_values
df = pd.read_csv('GDP-China.csv', na_values=[2016])
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018.0,896915.6,900309.5,64734.0,366000.9,469574.6,64644.0,20201230
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12/30
2,NaN,737074.0,740060.8,60139.2,296547.7,383373.9,53680.0,20201230 10:12:13
3,2015.0,683390.5,685992.9,57774.6,282040.3,346178.0,50028.0,12/30/20 10:12:13
4,2014.0,642097.6,641280.6,55626.3,277571.8,308082.5,47005.0,2020/12/30 11:22

In [45]:
# 不自动识别空值NaN
df = pd.read_csv('GDP-China.csv', keep_default_na=False, na_values=[2016])
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018,896915.6,900309.5,64734,366000.9,469574.6,64644,20201230
1,,,,,,,,2020/12/30
2,NaN,737074,740060.8,60139.2,296547.7,383373.9,53680,20201230 10:12:13
3,2015,683390.5,685992.9,57774.6,282040.3,346178,50028,12/30/20 10:12:13
4,2014,642097.6,641280.6,55626.3,277571.8,308082.5,47005,2020/12/30 11:22

In [52]:
# 不检查丢失值（空字符串或空值），
df = pd.read_csv('GDP-China.csv', na_filter=False)
df.head()

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018,896915.6,900309.5,64734,366000.9,469574.6,64644,20201230
1,,,,,,,,2020/12/30
2,2016,737074,740060.8,60139.2,296547.7,383373.9,53680,20201230 10:12:13
3,2015,683390.5,685992.9,57774.6,282040.3,346178,50028,12/30/20 10:12:13
4,2014,642097.6,641280.6,55626.3,277571.8,308082.5,47005,2020/12/30 11:22

In [47]:
df = pd.read_csv('GDP-China.csv', dayfirst=True,parse_dates=[7])
df.head()

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_1170/780447371.py:1: UserWarning: Parsing dates in %Y%m%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv('GDP-China.csv', dayfirst=True,parse_dates=[7])

,年份,国民总收入,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,人均国内生产总值,日期
0,2018.0,896915.6,900309.5,64734.0,366000.9,469574.6,64644.0,20201230
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/12/30
2,2016.0,737074.0,740060.8,60139.2,296547.7,383373.9,53680.0,20201230 10:12:13
3,2015.0,683390.5,685992.9,57774.6,282040.3,346178.0,50028.0,12/30/20 10:12:13
4,2014.0,642097.6,641280.6,55626.3,277571.8,308082.5,47005.0,2020/12/30 11:22

In [68]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>年份</td>
      <td>国民总收入</td>
      <td>国内生产总值</td>
      <td>第一产业增加值</td>
      <td>第二产业增加值</td>
      <td>第三产业增加值</td>
      <td>人均国内生产总值</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018</td>
      <td>896915.6</td>
      <td>900309.5</td>
      <td>64734</td>
      <td>366000.9</td>
      <td>469574.6</td>
      <td>64644</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017</td>
      <td>820099.5</td>
      <td>820754.3</td>
      <td>62099.5</td>
      <td>332742.7</td>
      <td>425912.1</td>
      <td>59201</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016</td>
      <td>737074</td>
      <td>740060.8</td>
      <td>60139.2</td>
      <td>296547.7</td>
      <td>383373.9</td>
      <td>53680</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015</td>
      <td>683390.5</td>
      <td>685992.9</td>
      <td>57774.6</td>
      <td>282040.3</td>
      <td>346178</td>
      <td>50028</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2014</td>
      <td>642097.6</td>
      <td>641280.6</td>
      <td>55626.3</td>
      <td>277571.8</td>
      <td>308082.5</td>
      <td>47005</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2013</td>
      <td>588141.2</td>
      <td>592963.2</td>
      <td>53028.1</td>
      <td>261956.1</td>
      <td>277979.1</td>
      <td>43684</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2012</td>
      <td>537329</td>
      <td>538580</td>
      <td>49084.5</td>
      <td>244643.3</td>
      <td>244852.2</td>
      <td>39874</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2011</td>
      <td>483392.8</td>
      <td>487940.2</td>
      <td>44781.4</td>
      <td>227038.8</td>
      <td>216120</td>
      <td>36302</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2010</td>
      <td>410354.1</td>
      <td>412119.3</td>
      <td>38430.8</td>
      <td>191629.8</td>
      <td>182058.6</td>
      <td>30808</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2009</td>
      <td>347934.9</td>
      <td>348517.7</td>
      <td>33583.8</td>
      <td>160171.7</td>
      <td>154762.2</td>
      <td>26180</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2008</td>
      <td>321229.5</td>
      <td>319244.6</td>
      <td>32464.1</td>
      <td>149956.6</td>
      <td>136823.9</td>
      <td>24100</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2007</td>
      <td>270704</td>
      <td>270092.3</td>
      <td>27674.1</td>
      <td>126633.6</td>
      <td>115784.6</td>
      <td>20494</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2006</td>
      <td>219028.5</td>
      <td>219438.5</td>
      <td>23317</td>
      <td>104361.8</td>
      <td>91759.7</td>
      <td>16738</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2005</td>
      <td>185998.9</td>
      <td>187318.9</td>
      <td>21806.7</td>
      <td>88084.4</td>
      <td>77427.8</td>
      <td>14368</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2004</td>
      <td>161415.4</td>
      <td>161840.2</td>
      <td>20904.3</td>
      <td>74286.9</td>
      <td>66648.9</td>
      <td>12487</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2003</td>
      <td>136576.3</td>
      <td>137422</td>
      <td>16970.2</td>
      <td>62697.4</td>
      <td>57754.4</td>
      <td>10666</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2002</td>
      <td>120480.4</td>
      <td>121717.4</td>
      <td>16190.2</td>
      <td>54105.5</td>
      <td>51421.7</td>
      <td>9506</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2001</td>
      <td>109276.2</td>
      <td>110863.1</td>
      <td>15502.5</td>
      <td>49660.7</td>
      <td>45700</td>
      <td>8717</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2000</td>
      <td>99066.1</td>
      <td>100280.1</td>
      <td>14717.4</td>
      <td>45664.8</td>
      <td>39897.9</td>
      <td>7942</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1999</td>
      <td>89366.5</td>
      <td>90564.4</td>
      <td>14549</td>
      <td>41080.9</td>
      <td>34934.5</td>
      <td>7229</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1998</td>
      <td>83817.6</td>
      <td>85195.5</td>
      <td>14618.7</td>
      <td>39018.5</td>
      <td>31558.3</td>
      <td>6860</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1997</td>
      <td>78802.9</td>
      <td>79715</td>
      <td>14265.2</td>
      <td>37546</td>
      <td>27903.8</td>
      <td>6481</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1996</td>
      <td>70779.6</td>
      <td>71813.6</td>
      <td>13878.3</td>
      <td>33828.1</td>
      <td>24107.2</td>
      <td>5898</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1995</td>
      <td>60356.6</td>
      <td>61339.9</td>
      <td>12020.5</td>
      <td>28677.5</td>
      <td>20641.9</td>
      <td>5091</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1994</td>
      <td>48548.2</td>
      <td>48637.5</td>
      <td>9471.8</td>
      <td>22453.1</td>
      <td>16712.5</td>
      <td>4081</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1993</td>
      <td>35599.2</td>
      <td>35673.2</td>
      <td>6887.6</td>
      <td>16473.1</td>
      <td>12312.6</td>
      <td>3027</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1992</td>
      <td>27208.2</td>
      <td>27194.5</td>
      <td>5800.3</td>
      <td>11725.3</td>
      <td>9668.9</td>
      <td>2334</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1991</td>
      <td>22050.3</td>
      <td>22005.6</td>
      <td>5288.8</td>
      <td>9129.8</td>
      <td>7587</td>
      <td>1912</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1990</td>
      <td>18923.3</td>
      <td>18872.9</td>
      <td>5017.2</td>
      <td>7744.3</td>
      <td>6111.4</td>
      <td>1663</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1989</td>
      <td>17188.4</td>
      <td>17179.7</td>
      <td>4228.2</td>
      <td>7300.9</td>
      <td>5650.6</td>
      <td>1536</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1988</td>
      <td>15174.4</td>
      <td>15180.4</td>
      <td>3831.2</td>
      <td>6607.4</td>
      <td>4741.8</td>
      <td>1378</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1987</td>
      <td>12166.6</td>
      <td>12174.6</td>
      <td>3204.5</td>
      <td>5274</td>
      <td>3696.2</td>
      <td>1123</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1986</td>
      <td>10375.4</td>
      <td>10376.2</td>
      <td>2764.1</td>
      <td>4515.2</td>
      <td>3096.9</td>
      <td>973</td>
    </tr>
    <tr>
      <th>34</th>
      <td>1985</td>
      <td>9123.6</td>
      <td>9098.9</td>
      <td>2541.7</td>
      <td>3886.5</td>
      <td>2670.7</td>
      <td>866</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1984</td>
      <td>7314.2</td>
      <td>7278.5</td>
      <td>2295.6</td>
      <td>3124.8</td>
      <td>1858.1</td>
      <td>702</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1983</td>
      <td>6043.8</td>
      <td>6020.9</td>
      <td>1960.9</td>
      <td>2663</td>
      <td>1397</td>
      <td>588</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1982</td>
      <td>5380.5</td>
      <td>5373.4</td>
      <td>1761.7</td>
      <td>2397.7</td>
      <td>1214</td>
      <td>533</td>
    </tr>
    <tr>
      <th>38</th>
      <td>1981</td>
      <td>4933.7</td>
      <td>4935.8</td>
      <td>1545.7</td>
      <td>2269.1</td>
      <td>1121.1</td>
      <td>497</td>
    </tr>
    <tr>
      <th>39</th>
      <td>1980</td>
      <td>4587.6</td>
      <td>4587.6</td>
      <td>1359.5</td>
      <td>2204.7</td>
      <td>1023.4</td>
      <td>468</td>
    </tr>
    <tr>
      <th>40</th>
      <td>1979</td>
      <td>4100.5</td>
      <td>4100.5</td>
      <td>1259</td>
      <td>1925.4</td>
      <td>916.1</td>
      <td>423</td>
    </tr>
    <tr>
      <th>41</th>
      <td>1978</td>
      <td>3678.7</td>
      <td>3678.7</td>
      <td>1018.5</td>
      <td>1755.2</td>
      <td>905.1</td>
      <td>385</td>
    </tr>
    <tr>
      <th>42</th>
      <td>1977</td>
      <td>3250</td>
      <td>3250</td>
      <td>942.2</td>
      <td>1517.8</td>
      <td>790</td>
      <td>344</td>
    </tr>
    <tr>
      <th>43</th>
      <td>1976</td>
      <td>2988.6</td>
      <td>2988.6</td>
      <td>967.1</td>
      <td>1346</td>
      <td>675.5</td>
      <td>321</td>
    </tr>
    <tr>
      <th>44</th>
      <td>1975</td>
      <td>3039.5</td>
      <td>3039.5</td>
      <td>971.2</td>
      <td>1378.7</td>
      <td>689.6</td>
      <td>332</td>
    </tr>
    <tr>
      <th>45</th>
      <td>1974</td>
      <td>2827.7</td>
      <td>2827.7</td>
      <td>945.2</td>
      <td>1199.8</td>
      <td>682.7</td>
      <td>314</td>
    </tr>
    <tr>
      <th>46</th>
      <td>1973</td>
      <td>2756.2</td>
      <td>2756.2</td>
      <td>907.5</td>
      <td>1180.4</td>
      <td>668.3</td>
      <td>313</td>
    </tr>
    <tr>
      <th>47</th>
      <td>1972</td>
      <td>2552.4</td>
      <td>2552.4</td>
      <td>827.4</td>
      <td>1091.6</td>
      <td>633.3</td>
      <td>296</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1971</td>
      <td>2456.9</td>
      <td>2456.9</td>
      <td>826.3</td>
      <td>1029.9</td>
      <td>600.6</td>
      <td>292</td>
    </tr>
    <tr>
      <th>49</th>
      <td>1970</td>
      <td>2279.7</td>
      <td>2279.7</td>
      <td>793.3</td>
      <td>918.1</td>
      <td>568.3</td>
      <td>279</td>
    </tr>
    <tr>
      <th>50</th>
      <td>1969</td>
      <td>1962.2</td>
      <td>1962.2</td>
      <td>736.2</td>
      <td>695</td>
      <td>531</td>
      <td>247</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1968</td>
      <td>1744.1</td>
      <td>1744.1</td>
      <td>726.3</td>
      <td>542.6</td>
      <td>475.2</td>
      <td>225</td>
    </tr>
    <tr>
      <th>52</th>
      <td>1967</td>
      <td>1794.2</td>
      <td>1794.2</td>
      <td>714.2</td>
      <td>608</td>
      <td>472</td>
      <td>238</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1966</td>
      <td>1888.7</td>
      <td>1888.7</td>
      <td>702.2</td>
      <td>715.4</td>
      <td>471</td>
      <td>257</td>
    </tr>
    <tr>
      <th>54</th>
      <td>1965</td>
      <td>1734</td>
      <td>1734</td>
      <td>651.1</td>
      <td>608.5</td>
      <td>474.4</td>
      <td>242</td>
    </tr>
    <tr>
      <th>55</th>
      <td>1964</td>
      <td>1469.9</td>
      <td>1469.9</td>
      <td>559</td>
      <td>519.3</td>
      <td>391.6</td>
      <td>210</td>
    </tr>
    <tr>
      <th>56</th>
      <td>1963</td>
      <td>1248.3</td>
      <td>1248.3</td>
      <td>497.5</td>
      <td>412.8</td>
      <td>337.9</td>
      <td>183</td>
    </tr>
    <tr>
      <th>57</th>
      <td>1962</td>
      <td>1162.2</td>
      <td>1162.2</td>
      <td>453.1</td>
      <td>363.9</td>
      <td>345.1</td>
      <td>175</td>
    </tr>
    <tr>
      <th>58</th>
      <td>1961</td>
      <td>1232.3</td>
      <td>1232.3</td>
      <td>441.1</td>
      <td>393.5</td>
      <td>397.7</td>
      <td>187</td>
    </tr>
    <tr>
      <th>59</th>
      <td>1960</td>
      <td>1470.1</td>
      <td>1470.1</td>
      <td>340.7</td>
      <td>652.6</td>
      <td>476.8</td>
      <td>220</td>
    </tr>
    <tr>
      <th>60</th>
      <td>1959</td>
      <td>1447.5</td>
      <td>1447.5</td>
      <td>383.8</td>
      <td>616.8</td>
      <td>446.9</td>
      <td>217</td>
    </tr>
    <tr>
      <th>61</th>
      <td>1958</td>
      <td>1312.3</td>
      <td>1312.3</td>
      <td>445.9</td>
      <td>483.6</td>
      <td>382.8</td>
      <td>201</td>
    </tr>
    <tr>
      <th>62</th>
      <td>1957</td>
      <td>1071.4</td>
      <td>1071.4</td>
      <td>430</td>
      <td>316.6</td>
      <td>324.8</td>
      <td>168</td>
    </tr>
    <tr>
      <th>63</th>
      <td>1956</td>
      <td>1030.7</td>
      <td>1030.7</td>
      <td>443.9</td>
      <td>280.4</td>
      <td>306.4</td>
      <td>166</td>
    </tr>
    <tr>
      <th>64</th>
      <td>1955</td>
      <td>911.6</td>
      <td>911.6</td>
      <td>421</td>
      <td>221.5</td>
      <td>269.1</td>
      <td>150</td>
    </tr>
    <tr>
      <th>65</th>
      <td>1954</td>
      <td>859.8</td>
      <td>859.8</td>
      <td>392</td>
      <td>210.8</td>
      <td>257</td>
      <td>144</td>
    </tr>
    <tr>
      <th>66</th>
      <td>1953</td>
      <td>824.4</td>
      <td>824.4</td>
      <td>378</td>
      <td>191.6</td>
      <td>254.8</td>
      <td>142</td>
    </tr>
    <tr>
      <th>67</th>
      <td>1952</td>
      <td>679.1</td>
      <td>679.1</td>
      <td>342.9</td>
      <td>141.1</td>
      <td>195.1</td>
      <td>119</td>
    </tr>
  </tbody>
</table>

In [73]:
print(df.head().to_markdown())

|    | 0    | 1          | 2            | 3              | 4              | 5              | 6                |
|---:|:-----|:-----------|:-------------|:---------------|:---------------|:---------------|:-----------------|
|  0 | 年份 | 国民总收入 | 国内生产总值 | 第一产业增加值 | 第二产业增加值 | 第三产业增加值 | 人均国内生产总值 |
|  1 | 2018 | 896915.6   | 900309.5     | 64734          | 366000.9       | 469574.6       | 64644            |
|  2 | 2017 | 820099.5   | 820754.3     | 62099.5        | 332742.7       | 425912.1       | 59201            |
|  3 | 2016 | 737074     | 740060.8     | 60139.2        | 296547.7       | 383373.9       | 53680            |
|  4 | 2015 | 683390.5   | 685992.9     | 57774.6        | 282040.3       | 346178         | 50028            |

In [75]:
df = df.head()

In [76]:
# 3.4.1 将df内容另存为test.csv并压缩成test.zip
com = dict(method='zip',archive_name='test.csv')
df.to_csv('test.zip',index=False,compression=com)

In [2]:
a="11"