In [2]:
import pandas as pd
df = pd.read_excel('../team2.xlsx')
df.head()

    name team  Q1  Q2  Q3  Q4     1city what color
0  Liver    E  89  21  24   1  shanghai     yellew
1   Arry    C  55  37  37   2    nanjin        red
2    Ack    A  57  60  33   3    beijin     purple
3  Eorge    C  93   4  71   4   tianjin       blue
4    Oah    D  93  49  44   5     henan      black

In [3]:
# 给所有数据加一个方括号
df.head().style.format('[{}]')

In [4]:
df.head().style.format("{:.2%}")

ValueError: Unknown format code '%' for object of type 'str'

In [5]:
# 对1city值转为大写
df.head().style.format({'1city':str.upper})

# 综合运用

In [38]:
# 多个format无法连用？
df.head(10).assign(avg=df.mean(axis=1, numeric_only=True)/100) \
.assign(diff=lambda x: x.avg.diff()) \
.style \
.format({'1city':str.upper}).format({'diff':'¥{:.2f}'}, na_rep='-',).format({'avg': '{:.2%}'})

In [8]:
df.head(10).assign(avg=df.mean(axis=1, numeric_only=True)) \
.assign(diff=lambda x: x.avg.diff())

     name team  Q1  Q2  Q3  Q4     1city what color    avg   diff
0   Liver    E  89  21  24   1  shanghai     yellew  33.75    NaN
1    Arry    C  55  37  37   2    nanjin        red  32.75  -1.00
2     Ack    A  57  60  33   3    beijin     purple  38.25   5.50
3   Eorge    C  93   4  71   4   tianjin       blue  43.00   4.75
4     Oah    D  93  49  44   5     henan      black  47.75   4.75
5  Harlie    C  24  13  87   6     hebei       pink  32.50 -15.25